{% extends 'base.html' %}
{% block content %}

<h1>{{ plan.name }} Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ plan.name }}</span>

  </div>
  <div class="card-action">
    <a href="{% url 'plans_update' plan.id %}">Edit</a>
    <a href="{% url 'plans_delete' plan.id %}">Delete</a>
  </div>
</div>

<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ plan.name }} plan's workouts</h3>
    {% if plan.workout.count %}
    {% for workout in  workouts %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ workout.name }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'unassoc_workout' plan.id workout.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Remove</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% endif %}


  </div>
  <!-- Available toys will come after this line -->
  <div class="col s6">
    <h3>your saved workouts</h3>
    {% if wishlists.count %}
    {% for workout in wishlists.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ workout.name }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'assoc_wishlist_to_plan' plan.id workout.id%}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  <h3>Upload your pictures to see your result following this plan!</h3>
  {% for photo in plan.photo_set.all %}
  <img class="responsive-img card-panel" src="{{photo.url}}">
  {% empty %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}
  <form action="{% url 'add_photo' plan.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" class="btn" value="Upload Photo">
  </form>

</div>

{% endblock %}