{% extends 'base.html' %}
{% block content %}

<div class="container">
    <section>
        <div class="row">
            <div class="col">
                <div class="workout-img-details">
                    <img src="{{workout.image}}" alt="">
                </div>
            </div>
            <div class="col">
                <h4 class="workout-title">{{workout.name}}</h4>
                <p>
                    Praesent ac condimentum felis. Nulla at nisl orci, at dignissim dolor, The best product
                    descriptions address your ideal buyer directly and personally. The best product descriptions
                    address your ideal buyer directly and personally.
                </p>
                <hr>
                <div class="workout-list">
                    <span class="posted_in"><strong>Name:{{workout.name}} </strong> </span><br />
                    <span class="tagged_as"><strong>Calorioes:{{workout.name}}</strong> </span> <br />
                    <!-- <span class="tagged_as"><strong>Categoris:</strong> </span><br /> -->
                </div>
                <hr>
                <div class="form-container">
                    <form action="{% url 'wishlist_to_plan' workout.id%}" method="post">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-round btn-danger" value="Add to PLAN">
                    </form>
                    <form action="{% url 'assoc_wishlist' workout.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-round btn-danger" value="Add to WISHLIST">
                    </form>
                </div>

            </div>
        </div>
    </section>
</div>

{% endblock %}