{% extends 'base.html' %}
{% block content %}

<section class="section-herder">
    <img src="../../static/img/GYM-bg.jpg" alt="GYM backgrounf image" class="bg">
    <img src="../../static/img/sport.png" alt="a runner" class="runner">
    <div class="text-content">
        <h2><span>count me in</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi hic aspernatur temporibus nemo
            facilis! Vero animi velit odit iure temporibus beatae reiciendis quam explicabo obcaecati delectus,
            distinctio doloribus tempore? Aperiam.</p>
        <a href="#">Join us</a>
    </div>
</section>
<!-- SECTION HEADER END -->

<!-- SECTION GALLERY START -->
<section class="section-gallery">
    <h1>your choice</h1>
    <ul>
        <li class="list active" data-filter="all" active>All</li>
        <li class="list" data-filter="with-equipment">with equipment</li>
        <li class="list" data-filter="without-equipment">without equipment</li>
        <li class="list" data-filter="indoor-possible">indoor</li>
        <li class="list" data-filter="outdoor-possible">outdoor</li>
    </ul>
    <div class="workouts">
        <div class="itemBox with-equipment indoor-possible"><img src="../../static/img/workout-boxing.jpg" alt="">
            <p class="workout-p">Boxing<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox with-equipment outdoor-possible"><img src="../../static/img/workout-biking.jpg" alt="">
            <p class="workout-p">Biking<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox with-equipment indoor-possible"><img src="../../static/img/workout-ropeSkipping.jpg" alt="">
            <p class="workout-p">Rope Skipping<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox without-equipment outdoor-possible"><img src="../../static/img/workout-running.jpg" alt="">
            <p class="workout-p">Running<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox without-equipment indoor-possible"><img src="../../static/img/workout-situp.jpg" alt="">
            <p class="workout-p">Sit Up<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox without-equipment indoor-possible"><img src="../../static/img/workout-squat.jpg" alt="">
            <p class="workout-p">Squat<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox without-equipment outdoor-possible"><img src="../../static/img/workout-swimming.jpg" alt="">
            <p class="workout-p">Swimming<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox without-equipment indoor-possible"><img src="../../static/img/workout-yoga.jpg" alt="">
            <p class="workout-p">Yoga<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox without-equipment indoor-possible"><img src="../../static/img/workout-pushUps.jpg" alt="">
            <p class="workout-p">Push Up<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>

    </div>
</section>
<!-- SECTION GALLERY END -->

{% endblock %}