{% extends 'base.html' %}
{% block content %}

<section class="section-header">
    <img src="../../static/img/GYM-bg.jpg" alt="GYM backgrounf image" class="bg">
    <img src="../../static/img/sport.png" alt="a runner" class="runner">
    <div class="text-content">
        <h2><span>count me in</span></h2>
        <p>MY FITNESS, MY LIFESTYLE <br />
            MY PLAN, MY CALL</p>
        <a href="/accounts/signup">Join us</a>
    </div>
</section>
<!-- SECTION HEADER END -->

<!-- SECTION GALLERY START -->
<section class="section-gallery">
    <h1>your choice</h1>
    <ul>
        <li class="list active" data-filter="all" active>All</li>
        <li class="list" data-filter="with-equipment">with equipment</li>
        <li class="list" data-filter="without-equipment">without equipment</li>
        <li class="list" data-filter="indoor-possible">indoor</li>
        <li class="list" data-filter="outdoor-possible">outdoor</li>
    </ul>
    <div class="workouts">
        {% for workout in workouts %}
        <div class="itemBox {{workout.category}} {{workout.location}}"><img src="{{workout.image}}" alt="">
            <p class="workout-p">{{workout.name}}<br />
            <form action="{% url 'workout_detail' workout.id}" method="GET">
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
            </form>
        </div>
        {% endfor %}
    </div>
    <!-- <div class=" itemBox with-equipment indoor-possible"><img src="../../static/img/workout-boxing.jpg" alt="">
                <p class="workout-p">Boxing<br />
                    <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                    </small></p>
        </div>
        <div class="itemBox with-equipment outdoor-possible"><img src="../../static/img/workout-biking.jpg" alt="">
            <p class="workout-p">Biking<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox with-equipment indoor-possible"><img src="../../static/img/workout-ropeSkipping.jpg" alt="">
            <p class="workout-p">Rope Skipping<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox without-equipment outdoor-possible"><img src="../../static/img/workout-running.jpg" alt="">
            <p class="workout-p">Running<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox without-equipment indoor-possible"><img src="../../static/img/workout-situp.jpg" alt="">
            <p class="workout-p">Sit Up<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox without-equipment indoor-possible"><img src="../../static/img/workout-squat.jpg" alt="">
            <p class="workout-p">Squat<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox without-equipment outdoor-possible"><img src="../../static/img/workout-swimming.jpg" alt="">
            <p class="workout-p">Swimming<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox without-equipment indoor-possible"><img src="../../static/img/workout-yoga.jpg" alt="">
            <p class="workout-p">Yoga<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div>
        <div class="itemBox without-equipment indoor-possible"><img src="../../static/img/workout-pushUps.jpg" alt="">
            <p class="workout-p">Push Up<br />
                <small>Check detail about this workout <input type="submit" class="go-to-detail" value="GO">
                </small></p>
        </div> -->

</section>
<!-- SECTION GALLERY END -->

{% endblock %}