.logo {
    position       : relative;
    font-size      : 1.5em;
    color          : #ff7f50;
    font-weight    : 700;
    text-decoration: none;
    text-transform : uppercase;
    letter-spacing : 1px;
}

.toggle {
    position  : relative;
    top       : 0px;
    right     : 0px;
    width     : 50px;
    height    : 50px;
    background: #FFF url(../img/open.png);
    cursor    : pointer;
    z-index   : 2;
}

.toggle.menu-active {
    background: #a4161a url(../img/close.png);
    z-index   : 99;
}

.menu-overlay {
    position       : fixed;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    background     : #161a1d;
    display        : flex;
    justify-content: center;
    align-items    : center;
    overflow-y     : auto;
    transform      : scale(0);
    transition     : 0.5s;
}

.menu-active {
    z-index  : 2;
    transform: scale(1);
}

.menu-overlay ul {
    position: relative;
}

.menu-overlay ul li {
    position  : relative;
    list-style: none;
    text-align: center;
    display   : block;
}

.menu-overlay ul li a {
    position       : relative;
    text-decoration: none;
    font-size      : 300%;
    line-height    : 150%;
    text-transform : uppercase;
    color          : #FFF;
    font-weight    : 700;
    display        : inline-block;
}

.menu-overlay ul li a:before {
    content         : '';
    position        : absolute;
    top             : 90%;
    left            : 0;
    width           : 100%;
    height          : 8px;
    background      : #a4161a;
    border-radius   : 10px;
    transform       : translateY(-50%) scaleX(0);
    transform-origin: right;
    transition      : 0.5s transform;
}

.menu-overlay ul li a:hover:before {
    transform       : translateY(-50%) scaleX(1);
    transform-origin: left;
    transition      : 0.5s transform;
}