/* ******************           BASIC SETUP         ****************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 20px;
  font-weight: 300;
  overflow-x: hidden;
}

.block {
  position: relative;
  display: block;
  height: 100px;
  width: 100%;
}

/* ******************          SECTION HEADER         ****************** */

.section-header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 150px;
  background-color: #000;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  object-fit: cover;
  background-position: center;
}

.runner {
  position: absolute;
  top: 0;
  right: 100px;
  max-height: 100%;
}

.text-content {
  position: absolute;
  left: 200px;
  max-width: 600px;
}

.text-content h1 {
  font-size: 180%;
  color: #fff;
  font-weight: 300;
  line-height: 2em;
  text-transform: uppercase;
}

.text-content h2 span {
  font-weight: 1000;
  font-size: 4em;
  letter-spacing: 5px;
  line-height: 0.8em;
}

.text-content p {
  color: #fff;
  margin-top: -15px;
}

.text-content a {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ff7f50;
  color: #ff7f50;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 20px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.text-content a:hover,
.text-content a:active {
  border: 1px solid #ff662e;
  color: #fff;
  background-color: #ff662e;
}

/* ******************          SECTION IMAGE FILTER         ****************** */
.section-gallery {
  padding: 20px;
  width: 1280px;
  margin: 40px auto;
}

.section-gallery h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 220%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 15px;
  letter-spacing: 1px;
  color: #a4161a;
}

.section-gallery h1:after {
  content: "";
  display: block;
  height: 5px;
  border-radius: 5px;
  background-color: #ff7f50;
  width: 200px;
  margin: 30px auto 50px auto;
}

.section-gallery ul {
  display: flex;
  margin-bottom: 10px;
}

.section-gallery ul li:nth-child(1) {
  background-color: #ff7f50;
}

.section-gallery ul li {
  list-style: none;
  background: #eee;
  padding: 8px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

.workouts {
  display: flex;
  flex-wrap: wrap;
}

.workouts .itemBox {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 5px;
}

.workouts .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workout-p {
  color: rgba(255, 255, 255, 1);
  background: black;
  background: linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4)
  );
  background: -moz-linear-gradient(
    bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.4)
  );
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 50px;
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
}

.workout-p small {
  opacity: 0;
}

.show-description .workout-p {
  height: 100px;
}

.show-description img {
  opacity: 0.7;
}

.show-description small {
  opacity: 1;
}

/* ******************          SECTION HEADER         ****************** */

footer.page-footer {
  padding-top: 0;
  text-align: center;
}

footer {

    position  : absolute;
    bottom    : 0;
    text-align: center;
}

