{% extends 'base.html' %}
{% block content %}

<h1>Wishlist</h1>

<tbody>
    {% for workout in wishlists %}
    <div class="workouts">
        <div class="itemBox"><img src="{{workout.image}}" alt="">
        </div>
        <p>{{workout.name}}<br />
            calories burned: {{workout.calories}}
        </p>
    </div>
    <form action="{% url 'wishlist_to_plan' workout.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn">Add</button>
    </form>

    </br>
    {% endfor %}




</tbody>
{% endblock %}